<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jimmy.logistics.mapper.OperationLogMapper">

    <insert id="insertOperationLog">
        insert into sys_operation_log (
            id, operation_id, trace_id, user_id, username, role_code,
            operation, request_uri, request_method, operation_status, cost_ms, operation_time
        )
        values (
            #{id}, #{operationId}, #{traceId}, #{userId}, #{username}, #{roleCode},
            #{operation}, #{requestUri}, #{requestMethod}, #{operationStatus}, #{costMs}, current_timestamp
        )
    </insert>

    <insert id="insertLegacyOperationLog">
        insert into sys_operation_log (
            id, username, operation, request_uri, request_method, operation_status, operation_time
        )
        values (
            #{id}, #{username}, #{operation}, #{requestUri}, #{requestMethod}, #{operationStatus}, current_timestamp
        )
    </insert>
</mapper>
